<link rel="stylesheet" href="calendar/jquery-ui-1.8.7.custom.css" />
	<script type="text/javascript" src="calendar/jquery-1.4.4.js"></script>
	<script type="text/javascript" src="calendar/jquery.ui.core.js"></script>
	<script type="text/javascript" src="calendar/jquery.ui.widget.js"></script>
	<script type="text/javascript" src="calendar/jquery.ui.datepicker.js"></script>
	<script type="text/javascript">
            $(document).ready(function(){
				$( "#fecha" ).datepicker({
					showOn: "button",
					buttonImage: "../lib/datepicker/images/calendar.png",
					dateFormat: "yy-mm-dd",
					firstDay: "1"
				});
            });
	</script>