#main-item-container li{ 
    position: relative;
}
#main-item-container #itemsCover, .deepSearch_area.loading .ds_overflower{
    background: rgba(0,0,0,.2);
    background-image: 
        repeating-linear-gradient(
        -45deg, 
        transparent, 
        transparent 1rem,
        rgba(0,0,0,.025) 1rem,
        rgba(0,0,0,.025) 2rem
        );
    background-size: 200% 200%;
    animation: barberpole 30s linear infinite;
}
#main-item-container #itemsCover{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index:99998;    
}
#itemActive{
    z-index:99999;
}

@keyframes barberpole {
    100% {
        background-position: 100% 100%;
    }
}

/*-------------------------------------------------------------------- grid --*/
#main-item-container li{
    width: 112px;
}
.navbar.navbar-fixed-top{
    margin-left:0;
    margin-right:0;
}
.container-fluid{
    padding: 0 !important;
}
.grid figcaption{
    box-shadow: none;
    position: relative;
    padding-top: 0;
    height: auto;
}
.grid figcaption a{
    opacity: .35;
}
.grid figcaption form{
    margin: 0;
}
.grid .box{
    padding-top: 0;
    padding-bottom: 0;
}
.grid .box .ellipsis{
    font-size: 10px;
    margin: 0 0 4px;
}
.grid figure:hover .box{
    transform: none !important;
}

/*------------------------------------------------------------- deep search --*/
.ds_scrollLock{
    position: fixed;
    overflow-y: scroll;
}

.deepSearch_area_header{
    display: flex;
    align-items: center;
    margin-bottom: 1.5em;
    margin-top: 1em;
}

.ds_searchBox .icon-folder-open{
    min-width: 16px;
}
.deepSearch_area{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1035;
    box-sizing: border-box;
    padding: .5em;
}
.deepSearch_area .ds_frame{
    background-color: rgba(220,220,220,.95);
    border-radius: .25em;
    height: 100%;
    box-shadow: 0 0 .5em 0 rgba(0,0,0,.5);
    padding: 2em;
}
.ds_overflower{
    overflow-y: auto;
    height: calc(100vh - 8em);
}
#ds_form, #ds_form_popup{
    display: flex;
    align-items: center; 
}
#ds_form_popup{
    margin-right: 1.5em;
}
#ds_form button, #ds_form_popup button{
    height: 28px;
    margin-top: 2px;
}
#ds_searchTerm, #ds_searchTerm_popup {
    margin: 5px 0 0 0;
    width:100%;
    max-width: 120px;
    height: 26px;
    vertical-align: bottom;
    margin-bottom: 2px;
    border-radius: 0;
    font-size: 12px;
    font-weight: 200;
    position: relative;
}
.close-deepSearch{
    position: fixed;
    top: .5em;
    left: 50%;
    transform: translateX(-50%);
}
#searchResult_list .cover{
    display: none;
}