/* Header */
#changeLanguageHeader {
    margin-left:20px; 
    font-size: 18px; 
    font-weight: 600;
}

#breadCrumb {
    font-size: 18px; 
    font-weight: 600;
}

.logoutLiHeader{
    border-left: 1px solid #f1f2f3; 
    margin: auto; 
    font-size: 10px;
    font-weight: 600;
}

#main-wrapper > .topbar > .navbar > .navbar-collapse > .navbar-nav > .logoutLiHeader > .logoutAHeader{
    font-size: 15px;
}

#loginCornerDiv{
    width: 75px; height: 25px; position: fixed; top: 0; right: 0;
}

#aChangeLanguage{
    font-size: 18px;
}

span > #sollutiaLogo {
    max-height: 70px;
    margin-top: 5px;
}

/* Font and color */

.error{
    color:red;
}

.h1LogByDate{
    font-size: 40px; color: blue;
}

.h2LogByDate{
    color: green; font-weight: 400;display: inline;
}

.h1LogByProject{
    font-size: 40px; color: blue;
}

.h2LogByProject{
    color: green; font-weight: 400;display: inline;
}

.h1LogByTechnician{
    font-size: 40px; color: blue;
}

.h2LogByTechnician{
    color: green; font-weight: 400;display: inline;
}

a {
    text-decoration: none;
    color: gray;
    font-size: 20px;
}

.colorBlack{
    color: black;
}

.h2SingleProject {
    font-size: 30px;
    color: green;
    line-height: 30px;
}

.h3SingleProject {
    font-size: 20px;
    color: chocolate;
}

.whiteBackground {
    background-color: white;
}   

.table-header {
    background-color: #ff5c6c;
    font-weight: 800;
    color: black;
}

#grayBackground {
    background-color: silver;
}

body {
    font-family: arial, sans-serif;  
}


.pTask {
    font-size: 20px;
}

/* Nav arrow effect */
.sidebar-nav .has-arrow:after{
    position:absolute;
    content:'';
    width:7px;
    height:7px;
    border-width:1px 0 0 1px;
    border-style:solid;
    border-color:#8d97ad;
    right:20px;

    transform:rotate(135deg) translate(0, -50%);

    transform-origin:top;
    top:45%;

    transition:all .3s ease-out
}

.sidebar-nav .active>.has-arrow:after,.sidebar-nav .has-arrow[aria-expanded=true]:after,.sidebar-nav li>.has-arrow.active:after{

    top:42%;
    width:7px;
    transform:rotate(-135deg) translate(0, -50%);
}

.has-arrow{
    position:relative
}

/* Table */
.tdaligncenter{
    text-align: center;
}

.tdalignleft{
    text-align: left;
}

.tableDaniel{
    table-layout: fixed ;
    width: 100% ;
}

.dateCol {
    width: 150px;
}

.timeCol {
    width: 120px;
}

.technicianCol {
    width: 200px;
}

.toolsCol {
    width: 110px;

}

/* my datatable modifications */
#dataTable {
    border-bottom: none;
}
#datatableTopDiv{
    display: flex;
    justify-content: space-between;
}
.datatableSearch{
    float: left !important;
    font-weight: 900;
    font-size: 25px;
    align-self: flex-end;
    margin-bottom: 15px;
}

.datatableShow{
    float: right !important;
    font-weight: 900;
}
/* Buttons and inputs */

#clipboardicon{
    left:5px;
}

form .selectWidth{
    width: auto;
}

.searchButton {
    border-style: solid;
    border-width: 2px;
    border-color: rgb(222, 222, 222);
}

.dateInput{
    border: solid 1px #DEDEDE;
    border-radius: .25em;
    padding: .5em 1em;
    color: #111111;
    box-sizing: border-box;
}

.aButton {
    margin-left: 2px;
    margin-right: 2px;
    padding-left: 10px;
    padding-right: 10px;
}

.mainButton {
    width: 150px;
    height: 40px;
}

#loginButton{
    margin-left: 37%; margin-top: 5%;
}


/* Other */
.pLogByProject{
    display: inline;
}

.createTaskFormP{
    display: -webkit-box;
}

.flexCenter {
    display: flex;
    justify-content: center;
}

.inlineBox {
    display: -webkit-inline-box;
}

.divAdjustWidth {
    width: max-content;
}

.borderNone{
    border: none;
}


.clickable {
    cursor: pointer;
}

.notClickable {
    cursor: default;
}