@charset "utf-8";
/*--------------------------------------------------------------- normalize --*/
main,section,article,div,p,header,footer,aside,figure,ul,li,blockquote,q,pre,a{position:relative;}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block;position:relative;}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background-color:transparent}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}img{border:0;max-width:100%;}svg:not(:root){overflow:hidden}figure{margin:0}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid silver;margin:0;padding:.35em}legend{border:0;padding:0}textarea{overflow:auto}optgroup{font-weight:700}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}
/*-------------------------------------------------------------- font sizes --*/
html,body,div,span,applet,object,iframe,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,label,legend,p,blockquote,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}body{line-height:1;color:black;background:white;}:focus{outline:0;}table{border-collapse:collapse;border-spacing:0;}caption,th,td{text-align:left;font-weight:normal;}fieldset,img{border:0;}address,caption,cite,code,dfn,th,var{font-style:normal;font-weight:normal;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}abbr,acronym{border:0;}strong{font-weight:bold;}em{font-style:italic;}
h1,h2,h3,h4,h5,h6{font-weight: bold;}h1{font-size: 1.6em;}h2{font-size: 1.4em;}h3{font-size: 1.2em;}p{margin-bottom:.5em;line-height:1.2;}
body{
    font-size:1em;
}
.debug_var{
    padding: 1em;
    background-color: #333333;
    color: #f6f6f6;
    box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.5) inset, 0 -4px 4px 0px rgba(0, 0, 0, 0.5) inset;
    font-size: .85em;
}
.debug_var.fixed{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
}
.debug_var{
    font-family: consolas !important;
    font-size: 12px !important;
    line-height: 1.3 !important;
}
/*------------------------------------------------------------------ alerts --*/
.alert_group{
    margin: 0 .6em;
}
.alert{
    padding: 0.75em;
    border-radius: 0.2em;
    text-align: center;
    border-style: solid;
    border-width: 1px;
}
.alert.ok{
    background: #dff0d8;
    border-color: #d6e9c6;
}
.alert.notok{
    background: #FFFFCC;
    border-color: #FFCC99;
}
.alert.catastrofe{
    background: #FFDDDD;
    border-color: #FFBFBF;
}
.alert.info{
    background: #d9edf7;
    border-color: #bce8f1;
}
.alert.ok, .alert.ok strong{
    color: #3c763d;
}
.alert.catastrofe, .alert.catastrofe strong{
    color: #990000;
}
.alert.notok, .alert.notok strong{
    color: #DD5800;
}
.alert.info, .alert.info strong{
    color: #31708f;
}

/*--------------------------------------------------------------- columnari --*/
.row, ul[class^="col-"]{
    margin-left: -1em;
    margin-right: -1em;
    display: flex;
}
.row{    
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;

}
ul[class^="col-"]{
    flex-flow: row wrap;   
    justify-content: flex-start; 
    align-items: flex-start;
}
*[class^="col-"],  ul[class^="col-"] > li{
    box-sizing: border-box;
    padding: 0 1em;
}
ul[class^="col-"] > li{
    margin: 0 0 30px;
}
*[class^="col-"].noRp{
    padding-right:0;
}
*[class^="col-"].noLp{
    padding-left:0;
}
.col-100:not(ul), ul.col-100 li{
    width: 100%;
}
.col-80:not(ul), ul.col-80 li{
    width: 80%;
}
.col-75:not(ul), ul.col-75 li{
    width: 75%;
}
.col-70:not(ul), ul.col-70 li{
    width: 70%;
}
.col-66:not(ul), ul.col-66 li{
    width: 66.66%;
}
.col-60:not(ul), ul.col-60 li{
    width: 60%;
}
.col-50:not(ul), ul.col-50 li{
    width: 50%;
}
.col-40:not(ul), ul.col-40 li{
    width: 40%;
}
.col-33:not(ul), ul.col-33 li{
    width: 33.33%;
}
.col-30:not(ul), ul.col-30 li{
    width: 30%;
}
.col-25:not(ul), ul.col-25 li{
    width: 25%;
}
.col-20:not(ul), ul.col-20 li{
    width: 20%;
}