@charset "utf-8";
/*--------------------------------------------------------------- principal --*/
body{
    font-size: 14px;
}
html, body, input, textarea, select{
    color: #333333;
}
a:link, a:visited{
    color: #007fff;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
p{
    margin-top: 0;
}
/*------------------------------------------------------------------- fonts --*/
/*html, body, input, textarea, select{
    font-family: 'Trebuchet MS',Helvetica,sans-serif;   
}*/
html, body, input, textarea, select{
    font-family: 'Open Sans', sans-serif;
}
/*------------------------------------------------------------------ sprite --*/
.cover, .icon{    
    display: block;
    background-image: url(../images/bg/sprite.png);
    background-size: 229px 151px;
    background-repeat: no-repeat;
    text-indent: -9999px;
}
#botonera_principal .icon{
    background-size: 458px 302px;
}
/*-------------------------------------------------------------- transition --*/
#main_nav a, .no-image, .fixable, .paginas_group li:not(.ui-sortable-helper), .plugin header, *[class*="estatica"] a:after{
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
}
.status_label{
    -moz-transition: background-color .3s ease, border .3s ease;
    -webkit-transition: background-color .3s ease, border .3s ease;
    -o-transition: background-color .3s ease, border .3s ease;
    -ms-transition: background-color .3s ease, border .3s ease;
    transition: background-color .3s ease, border .3s ease;
}
/*-------------------------------------------------------------------- main --*/
#wrapper{
    height: auto;
    min-height: 100%;
    width: 100%;
    /*min-width: 768px;*/
    background-color: #FFFFFF;
    z-index: 0;
}
body, html{
    height: 100%;
}
.nav_bg{
    z-index: -1;
}
section.popper{
    padding: 0 2em 2em 2em;
}
/*----------------------------------------------------------------- llistes --*/
#main_nav ul, .button_list ul, #botonera_principal ul, .pestanyera, .multi_images ul, .paginas_group, .paginas_group ul, .legend ul,
#botonera_principal{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
/*------------------------------------------------------------------- links --*/
#main_section a:link{
    color: #0072A0;
    text-decoration: none;
}
#main_section a:visited{
    color: #372F6A;
    text-decoration: none;
}
#main_section a:hover{
    text-decoration: underline;
}
#main_section .list td:nth-child(2) a:link, #main_section .list td:nth-child(2) a:visited{
    display: block;
    font-weight: 700;
    padding: .25em 0;
}
/*--------------------------------------------------------- botones defecto --*/
#botonera_principal li a:link, #botonera_principal li a:visited, .next_prev_nav a:link, .next_prev_nav a:visited{
    display: block;
    text-decoration: none;
    color: #FFFFFF;
    background: #BBBBBB;
    background: -webkit-linear-gradient(#BBBBBB, #AAAAAA); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#BBBBBB, #AAAAAA); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#BBBBBB, #AAAAAA); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#BBBBBB, #AAAAAA); /* Standard syntax */
    box-shadow: 0 4px 0 0 #888888, 0 6px 6px 3px rgba(0,0,0,.15);
    padding: .8em;
    margin: 1em;
    border-radius: 5px;
    position: relative;
    text-align: center;
    min-height: 105px;
    box-sizing: border-box;
}
#botonera_principal li a:hover, .next_prev_nav a:hover{
    text-decoration: none;
    top: 1px;
    box-shadow: 0 2px 0 0 #888888, 0 4px 6px 3px rgba(0,0,0,.15);
}
#botonera_principal li a:active,.next_prev_nav a:active {
    text-decoration: none;
    top: 2px;
    background: #999999;
    box-shadow: 0 -3px 1px 0 #888888;
}
#botonera_principal li a .icon{
    display: inline-block;  
    vertical-align: middle;
    margin: .4em 0;
}
#botonera_principal li a .title{
    display: block;
}
/*------------------------------------------------------------------ varios --*/
.cover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-position: 1000px 1000px
}
.hidden{
    display: none !important;
}
q,blockquote {
    quotes: "\201C" "\201D" "\2018" "\2019";
}
.subtle{
    color: #999999;
    font-size: .8em;
}
.subtle .search_term{
    font-size: 1.2em;
    font-weight: bold;
    color: #333333;
    margin-left: .4em;
}
.search_term_group p{
    padding: .4em .8em .4em .4em;
    border-radius: .4em;
    display: inline-block;
    margin: .5em 0;
    background: #FFFFCC;
    border: solid 1px #FFCC99;
}
.search_term_group .icon{
    display: inline-block;
    vertical-align: middle;
    width: 22px;
    height: 20px;
    background: url(../images/icons/magnifier.png) no-repeat 0 0;
    background-size: cover;
}
.search_term_group .x_delete{
    margin-left: 1.5em;
}
.x_delete{
    display: inline-block;
    vertical-align: text-top;
    width: 1.4em;
    height: 1.4em;
    text-align: center;
    border-radius: .4em;
    background-color: #999999;
    color: white !important;
}
.x_delete:hover{
    text-decoration: none !important;
    background-color: #333333;
}
.aLeft{
    text-align: left;
}
.aCenter{
    text-align: center;
}
.aRight{
    text-align: right;
}
.example{
    font-size: .9em;
    padding-left: 1em;
    margin-bottom: 1em;
}
.example ul{
    margin: 0;
}
.breadcrumbs{
    margin-top: 1em;
}
.breadcrumbs a:link, .breadcrumbs a:visited{
    color: #999999 !important;
    display: inline-block;
    vertical-align: baseline;
    font-size: 1.1em;
    font-weight: bold;
}
.breadcrumbs .icon{
    width: 22px;
    height: 22px;
    background-position: -92px -105px;
    display: inline-block;
    vertical-align: text-bottom;
}
.breadcrumbs a:last-child:not(:first-child):link, .breadcrumbs a:last-child:not(:first-child):visited{
    color: #333333 !important;
    text-transform: uppercase;
}
.inlined{
    display: inline-block;
    vertical-align: middle;
}
/*------------------------------------------------------------------- popup --*/
.popup_locked{
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
}
.popup{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0,0,0,.45);
    z-index: 1990;
    display: none;
}
.popup_frame{
    background: #FFFFFF;
    border-radius: .6em;
    border: solid 1px #AAAAAA;
    padding: 2em;
    min-width: 320px;
    min-height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 1px 2px 2px 0px rgba(0,0,0,0.4);
    z-index: 2000;
    box-sizing: border-box;
}
.popup .content{
    max-height: 90vh;
    overflow-y: scroll;
    padding: 0 2em;
}
.popup h4{
    display: none;
    font-size: 1em;
    margin: 0 0 .5em 0;
    border-bottom: solid 1px #e7e7e7;
}
.close{
    position: absolute;
    margin: 0;
    padding: 1px 0 2px;
    text-align: center;
    line-height: 20px;
    width: 20px;
}

.popup .close{
    top: -25px;
    right: -25px;    
    background: firebrick;
    color: white;
    text-shadow: 1px 1px 1px maroon;
    box-shadow: 0 2px 0 0 #777777, 0 4px 6px 3px rgba(0,0,0,.15);
}

.legend .close{
    top: 3px;
    right: 3px;
    box-shadow: none;
    background: transparent;
    color: #9BD0DD;
}
.legend.closed .close{
    display: none;
}
.popup .close:hover{
    box-shadow: 0 1px 0 0 #777777, 0 4px 6px 3px rgba(0,0,0,.15);
}

.disabler{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.7);
    z-index: 100;
}
/*------------------------------------------------------------------- forms --*/
form input[type="password"], form input[type="text"], form textarea, form select{
    border: solid 1px #DEDEDE;
    border-radius: .25em;
    padding: 0 10px;
    width: 100%;
    height: 2.2em;
    color: #111111;
    box-sizing: border-box;
}
form input[type="password"]:focus, form input[type="text"]:focus, form textarea:focus{
    border-color: gray;
}
form textarea{
    padding: 0.625em;
    height: 5em;
    resize: none;
}
form select{
    padding: .3em 10px;
    width: auto;
    height: 2.4em;
}
form label{
    display: block;
    position: relative;
    margin: 0 0 .25em 0;
    font-style: italic;
    color: #8A8A7B;
}
form fieldset{
    padding: 0;
    margin: 1em 0;
    border: none;
}
form fieldset p{
    margin-bottom: 1em;
}
form input[type="button"], form input[type="submit"]{
    display: block;
    background-color: #DEDEDE;
    border: solid 1px gray;
    border-radius: .25em;
    text-align: center;
    color: white;
    padding: 0.625em 1.25em;
}
form input[type="button"]:not(.disabled):hover, form input[type="submit"]:not(.disabled):hover{
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FEFEFE), to(#DEDEDE)); /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(top, #FEFEFE, #DEDEDE); /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, #FEFEFE, #DEDEDE); /* IE 10 */
    background: -ms-linear-gradient(top, #FEFEFE, #DEDEDE); /* Opera 11.10+ */
    background: -o-linear-gradient(top, #FEFEFE, #DEDEDE);
}
form input[type="button"].disabled, form input[type="submit"].disabled{
    background-color: #FEFEFE;
    border-color: #DEDEDE;
}
form input[type="submit"].loading, button.loading{
    background-image: url(../images/icons/loading.gif);
    background-repeat: no-repeat;
    background-position: center center;
    text-indent: -9999px;
}
.search_box input[type="text"]{
    background-image: url(../images/icons/magnifier.png);
    background-repeat: no-repeat;
    background-position: .2em center;
    background-size: 22px 20px;
    padding: 0 3% 0 14%;
}
.checkbox input, .checkbox label, .input_group p{
    display: inline-block;
    vertical-align: middle;
}
.input_group p{
    vertical-align: bottom;
}
form input.date{
    width: 120px;
}
form input.time{
    width: 60px;
}
form input.price{
    width: 120px;
}

.checkbox {
    background-color: #DDDDDD;
    border: solid 1px #999999;
    display: inline-block;
    border-radius: 5px;
}
.checkbox input{
    position: absolute;
    left: .75em;
    top: 50%;
    transform: translateY(-50%);
}
form .checkbox label{
    padding: .6em 1em .6em 2em;
    margin: 0;
    color: #333333;
    cursor: pointer;
}
.checkbox_group{
    margin-top: .8em;
    padding-top: .8em;
    border-top: solid 1px silver;
}
.checkbox_group.noBorder{
    border: none;
}
.checkbox_group .checkbox{
    display: inline-block;
    vertical-align: middle;
    margin-right: 1em;
}
.checkbox_group .checkbox.hide{
    display: none;
}

.lang_field_group .checkbox_group{
    border: none;
    margin-top: 0;
    padding: 0;
}
.lang_field_group .checkbox_group .checkbox{
    border: none;
    margin-top: 0;
    background: none;
    border: none;
}

.input_group p{
    display: inline-block;
    vertical-align: bottom;
    margin-right: 15px;
}

.password{
    background-color: #FFFFFF;
    padding: 1em;
    border: solid 1px #DDDDDD;
    border-radius: 5px;
    width: 300px;
}
.password .passstrength p{
    padding-left: 1.5em;
}
.password .passstrength{
    display: none;
}
/*------------------------------------------------------------------- alert --*/
.highlight input, .highlight textarea, .highlight select{
    box-shadow: 0px 0px 4px firebrick;
}
.pestanyera .highlight{
    box-shadow: 0px -2px 2px firebrick;
}
.highlight label, .pestanyera .highlight{
    color: firebrick !important;
    font-weight: bold;
}
/*------------------------------------------------------------ inline-block --*/
.logo, .sitename,.user_options,.user_options .icon,#main_nav span, .add_group{
    display: inline-block;
    vertical-align: middle;
}
/*----------------------------------------------------------- display block --*/
.logo img{
    display: block;
}
/*------------------------------------------------------------------- icons --*/
.icon{
    width: 22px;
    height: 20px;
}
.user_options .icon, .user .icon{
    background-position: -138px -84px;
}

*[class*="estatica"]  .icon{
    background-position: -138px -128px;
}
/*[class*="estatica"] a{
    margin-top: -3px !important;
    padding-bottom: 2px !important;
}
[class*="estatica"] a:after{
    content: "";
    display: block;
    position: absolute;
    top: 6px;
    right: 0;
    z-index: 10;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 4px 4px 0;
    border-color: transparent #717171 transparent transparent;
}
*[class*="estatica"]:hover a{
    border-color: #AAAAAA;
    background-color: #FFFFFF;
}
*[class*="estatica"]:hover a:after{
    top: 3px;
    right: -3px;
} */
.icon.contactos{
    background-position: 0 -21px;
}
/*
.selected .icon.contactos{
    background-position: 0 0;
}
.icon.plantillas{
    background-position: -23px -21px;
}
.selected .icon.plantillas{
    background-position: -23px 0;
}
.icon.envios{
    background-position: -46px -21px;
}
.selected .icon.envios{
    background-position: -46px 0;
}*/

.icon.ocultar{
    background-position: 0 -63px;
}
.icon.mostrar{
    background-position: -23px -63px;
}
.delete .icon{
    height: 22px;
    background-position: -23px -105px;
}
.edit .icon{
    background-position: -92px -62px;
}

/*.esperando_envio .icon{
    background-position: 0 -84px;
}
.enviado .icon{
    background-position: -92px -84px;
}
.stats.ok .icon{
    background-position: -23px -84px;
}
.stats.notok .icon{
    background-position: -46px -84px;
}*/
/*-- nav icons --*/
.icon.defecto, .estatica_0 .icon{
    background-position: 0 0;
}
.icon.paginas{
    background-position: -23px 0;
}
.icon.productos, .estatica_productos-categoria .icon{
    background-position: -46px 0;
}
.icon.showroom{
    background-position: -69px 0;
}
.icon.fotos, .estatica_fotos-categoria .icon{
    background-position: -207px -42px;
}
.icon.videos, .estatica_videos-categoria .icon{
    background-position: -115px 0;
}
.icon.noticias, .estatica_noticias-categoria .icon{
    background-position: -138px 0;
}
.icon.banners{
    background-position: -161px 0;
}
.icon.admins{
    background-position: -184px 0;
}
.estatica_contacto .icon{
    background-position: -92px -42px;
}
.icon.biblioteca_fotos{
    background-position: -92px 0;
}
.icon.locked{
    height: 22px;
    background-position: -207px -128px;
}

/*-- nav icons white --*/
.selected .icon.defecto{
    background-position: 0 -21px;
}
.selected .icon.paginas{
    background-position: -23px -21px;
}
.selected .icon.productos{
    background-position: -46px -21px;
}
.selected .icon.showroom{
    background-position: -69px -21px;
}
.selected .icon.fotos{
    background-position: -207px -63px;
}
.selected .icon.videos{
    background-position: -115px -21px;
}
.selected .icon.noticias{
    background-position: -138px -21px;
}
.selected .icon.banners{
    background-position: -161px -21px;
}
.selected .icon.admins{
    background-position: -184px -21px;
}

#botonera_principal .icon{
    width: 44px;
    height: 40px;
}
#botonera_principal .icon.defecto{
    background-position: 0 -42px;
}
#botonera_principal .icon.paginas{
    background-position: -46px -42px;
}
#botonera_principal .icon.productos{
    background-position: -92px -42px;
}
#botonera_principal .icon.showroom{
    background-position: -138px -42px;
}
#botonera_principal .icon.fotos{
    background-position: -414px -126px;
}
#botonera_principal .icon.videos{
    background-position: -230px -42px;
}
#botonera_principal .icon.noticias{
    background-position: -276px -42px;
}
#botonera_principal .icon.banners{
    background-position: -322px -42px;
}
#botonera_principal .icon.admins{
    background-position: -368px -42px;
}
#botonera_principal .icon.biblioteca_fotos{
    background-position: -184px -42px;
}

/*----------------------------------------------------------------- buttons --*/
.button_group button{
    margin: 0 1em 0 0;
}
.options_header button, .options_header a, .options_header h1{
    display: inline-block;
    vertical-align: middle;
}
.options_header .subtle{
    margin: .5em 0;
}
a.button{
    /*display: inline-block;*/
}
button, #main_section a.button:link, #main_section a.button:visited{
    color: white;
}
a.button:hover{
    text-decoration: none !important;
}
button, a.button{
    display: inline-block;
    vertical-align: middle;
    margin-left: 1em;
    border: none;
    background-color: #FBC300;
    padding: .5em .8em;
    border-radius: .3em;
    position: relative;
    box-shadow: 0 4px 0 0 #D9A300, 0 6px 6px 3px rgba(0,0,0,.15);
}
#main_section section section form button:not(.btn_borrar_img):not(.btn_borrar):not(.close):not(.lang_btn){
    background-color: #0073A1;
    box-shadow: 0 4px 0 0 #005C80, 0 6px 6px 3px rgba(0,0,0,.15);
}
#main_section .login button, .add_group button, #main_section .add_group a.button:link, #main_section .add_group a.button:visited,
.filter_group button, #main_section .filter_group a.button:link, #main_section .filter_group a.button:visited
{
    color: #8C6900;
}
button:hover, a.button:hover{
    top: 1px;
    box-shadow: 0 3px 0 0 #D9A300, 0 4px 6px 3px rgba(0,0,0,.15);
}
a.button:active{
    top: 2px;
    box-shadow: 0 0px 0 0 #005C80;
}

.options_header .edit_options button, .options_header .edit_options a{
    padding: .4em 0.6em;
}
button .icon,  a.button .icon{
    display: inline-block;
    vertical-align: text-top;
    width: 22px;
    height: 20px;
    margin-right: .2em;
}
.edit_options button .icon, .edit_options a.button .icon{
    margin: 0;
}
.edit_options button .text, .edit_options a.button .text{
    margin-left: .2em;
}

button.save{
    background-color: #51A351;
    box-shadow: 0 4px 0 0 #3A763A, 0 6px 6px 3px rgba(0,0,0,.15);
}
button.save:hover{
    top: 2px;
    box-shadow: 0 2px 0 0 #3A763A, 0 4px 4px 2px rgba(0, 0, 0, 0.15);
}
button.save:active{
    top: 4px;
    box-shadow: 0 -2px 0 0 #3A763A;
}

button.save .icon{
    background-position: 0 -42px;
}

button.save_back, button.back, button.log_launcher{
    background-color: white;
    color: #999999;
    box-shadow: 0 4px 0 0 #BBBBBB, 0 6px 6px 3px rgba(0,0,0,.15);
}
button.save_back .icon{
    background-position: -23px -42px;
}

button.save_back:hover, button.back:hover, button.log_launcher:hover{
    top: 2px;
    box-shadow: 0 2px 0 0 #BBBBBB, 0 4px 4px 2px rgba(0, 0, 0, 0.15);
}
button.back .icon{
    background-position: -115px -62px;
}

button.dark, a.button.dark{
    background-color: black;
    color: white;
    border-bottom-color: silver;
    margin: 0;
}
button.dark:hover,  a.button.dark:hover{
    border-top-color: silver;
}

a.preview{
    background-color: #B2B200;
    box-shadow: 0 4px 0 0 #848400, 0 6px 6px 3px rgba(0,0,0,.15);
}
a.preview:hover{
    top: 2px;
    box-shadow: 0 2px 0 0 #848400, 0 4px 4px 2px rgba(0, 0, 0, 0.15);
}
a.preview .icon{
    background-position: -115px -84px;
}

.add_btn a{
    display: none;
}

.secondary_btn{
    display: inline-block;
    vertical-align: middle;
    margin-left: 1em;
    border: none;
    padding: .5em .8em;
    border-radius: .3em;
    position: relative;
    color: #555555 !important;
    background-color: #FFFFFF !important;
    box-shadow: 0 4px 0 0 #E7E7E7, 0 6px 6px 3px rgba(0,0,0,.15) !important;
}
.secondary_btn:hover{
    text-decoration: none;
    top: 2px;
    box-shadow: 0 2px 0 0 #E7E7E7, 0 4px 6px 3px rgba(0,0,0,.15) !important;
}

.filter_group{
    border-bottom: solid 1px #EEEEEE;
    z-index: 5;
    padding: .5em 1.5em;
}
.filter_group p{
    margin: 0;
}
.filter_group .filter, .filter *:not(option){
    display: inline-block;
    vertical-align: middle;
}
.filter_group .filter{
    margin-right: 1em;
}
.filter_group .checkbox_group{
    border: 0;
    margin: 0;
    padding: 0;
}
.filter_group .checkbox_group .checkbox{
    margin-right: .5em;
    background: none;
    border: none;
}
.filter_group form .checkbox_group .checkbox label{
    padding: 0.4em .5em 0.5em 1.5em;
}
.filter_group form .checkbox_group .checkbox input{
    top: .8em;
    left: .5em;
}
.filter_group a, .filter_group button{
    margin: .5em 1em .5em 0;
}
.add_group a.anyadir{
    /*margin-bottom: .5em;*/
    padding: .5em .8em;
}
/*------------------------------------------------------------------ header --*/
#main_header{
    z-index: 10;
    border-bottom: solid 1px #DDDDDD;
    box-shadow: 0px 1px 0px 0px #FFFFFF
}
#main_header a:link, #main_header a:visited, #main_nav a:link, #main_nav a:visited{
    color: #717171;
    text-decoration: none;
}
#main_header a:hover{
    text-decoration: underline;
}
#main_header .wrap, #main_nav .wrap, .nav_bg{
    background-color: #FFFFFF;
    color: #333333;
}
#main_nav .wrap, .nav_bg{
    background-color: #EEEEEE;    
}
#main_header .wrap{
    padding: .5em;
}
.logo{
    width: 25px;
    margin-right: .15em;
}
.sitename{
    font-size: 1.5em;
}
.sitename p{
    margin: 0;
    font-weight: 700;
}
.user_options{
    text-align: right;
    float: right;
    margin-top: .7em;
    font-size: .8em;
}
.user_options .icon, .user_options .options{
    display: inline-block;
    vertical-align: middle;
}
/*------------------------------------------------------------------ footer --*/
#main_footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 26px;
    line-height: 1em;
    background-color: #555555;
    font-size: .9em;
    color: #CCCCCC;
    text-align: right;
}
#main_footer .wrap{
    padding:  6px 1em;
}
#main_footer a:link,#main_footer a:visited{
    color: #66bdce;
}

/*--------------------------------------------------------------------- nav --*/
#main_nav .launcher{
    display: none;
}
#main_nav a:link, #main_nav a:visited{
    font-size: .9em;
    display: block;
    box-sizing: border-box;
}
.nav_bg{
    position: absolute;
    top: 0;
    bottom: 0;
    border-right: solid 1px #FFFFFF;
    box-shadow: 1px 0px 0px 0px #DDDDDD;
}
.nav_bg, #main_nav, #main_nav li:not(.selected) ul, #wrapper.closed #main_nav li.selected ul{
    width: 210px;
}
#main_nav{
    float: left;
    z-index: 5;
}
#main_nav .wrap{
    padding: .5em 0;
}
#main_nav .icon{
    margin-right: .8em;
    position: relative;
    z-index: 10;
}
.fixed.closed #main_nav .icon{
    margin-right: 1px;
}
#main_nav a{
    display: block;
}
/*#main_nav .selected .icontainer{
    background-color: #568270;
}*/
#main_nav .selected span:not(.icon){
    color: #66BDCE;
    font-weight: 700;
}
#main_nav .selected a:before{
    content: "";
    display: block;
    position: absolute;
    top: 2px;
    left: 3px;
    width: 32px;
    height: 32px;
    background-color: #66BDCE;
    border-radius: 100%; 
    z-index: 0;
}
.closed #main_nav .selected{
    background-color: #66BDCE;
}
#main_nav ul ul .selected a:link,#main_nav ul ul .selected a:visited{
    color: white;
}
#main_nav .icontainer{
    line-height: 2.5em;
}
#main_nav .icontainer{
    padding: 0 .7em;    
}

#main_nav ul ul{
    background-color:#333333;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 20;
    display: none;
}
#main_nav li:not(.selected):hover{
    background-color:#FFFFFF;
}
#main_nav li:hover ul{
    display: block !important;
}
#wrapper:not(.closed) #main_nav li.selected ul{
    position: relative;
    top: auto;
    left: auto;
    display: block;
    padding-left: 1.5em;
}

#main_nav ul ul a:link,#main_nav ul ul a:visited{
    line-height: 2.2em;
    color: #E7E7E7;
    padding: .2em 1em;
}
#main_nav ul ul a:hover{
    text-decoration: underline;
}
.nav_options{
    margin: 2em 0;
}
.nav_options div{
    font-size: .7em;
    color: gray;
    cursor: pointer;
    padding: 0 1em;
}
.nav_options div:hover{
    background-color: #333333;
}

#wrapper.closed #main_nav, #wrapper.closed .nav_bg{
    width: 44px;
}
#wrapper .nav_options .mostrar_menu, #wrapper.closed #main_nav .icontainer span:not(.icon), #wrapper.closed #main_nav ul ul, #wrapper.closed .nav_options .ocultar_menu{
    display: none;
}
#wrapper.closed .nav_options .mostrar_menu{
    display: block;
}

/*-------------------------------------------------------------------- main --*/
#main_section{
    /*padding: 1.5em;*/
    overflow: hidden;
    z-index: 0;
}
#main_section section section{
    padding: 1.5em;
    margin-bottom: 30px;
    z-index: 0;
}
h1{
    font-size: 1.3em;
    font-weight: 700;
    margin: 0;
    padding: 0;
    line-height: 1;
}
.search_box{
    width: 215px;
    position: absolute;
    top: 0.5em;
    right: 1em;
}
.search_box p{
    margin: 0;
}
.popper .search_box{
    position: relative;
}
/*------------------------------------------------------------- tablesorter --*/
.tablesorter th{
    cursor: pointer;
    background: none !important;
}
.tablesorter-header-inner{
    display: inline;
}
.tablesorter .sorticons, .tablesorter-default thead .sorter-false  .sorticons{
    display: none;
}
.tablesorter-default .tablesorter-headerUnSorted .sort,.tablesorter-default .tablesorter-headerUnSorted .sort{
    display: inline;
}
.tablesorter-default thead .headerSortUp .up,.tablesorter-default thead .tablesorter-headerAsc .up,.tablesorter-default thead .tablesorter-headerSortUp .up{
    display: inline;
}
.tablesorter-default thead .headerSortDown .down,.tablesorter-default thead .tablesorter-headerDesc .down,.tablesorter-default thead .tablesorter-headerSortDown .down{
    display: inline;
}
.tablesorter-default thead .tablesorter-headerAsc, .tablesorter-default thead .tablesorter-headerDesc{
    background-color: #e7e7e7 !important;
    padding-left: 10px;
}

#orden{
    background: #51a351;
    box-shadow: 0 2px 0 0 #3a763a, 0 3px 3px 2px rgba(0, 0, 0, 0.15);
    padding: 0.2em;
    margin: 0;
}
#orden:hover{
    top: 1px;
    box-shadow: 0 1px 0 0 #3a763a, 0 1px 1px 2px rgba(0, 0, 0, 0.15);
}
#orden .icon{
    background-position: -207px -21px;
    margin: 0;
}
/*------------------------------------------------------------------ tables --*/
.list{
    border-spacing: 0;
    width: 100%;
    background-color: white;
    border: solid 1px #E7E7E7;
    table-layout: fixed;
}
.list td, .list th{
    padding: 0;
    vertical-align: middle;
}
.list th{
    text-align: left;
    font-weight: 700;
    color: #666666;
    padding: .7em 0;
    font-size: .9em;
}
.list th.aCenter{
    text-align: center;
}
.list th:first-child, .list td:first-child{
    font-size: .8em;
    color: #999999;
    padding: .8em .9em;
    width: 2em;
}
.list th:last-child, .list td:last-child{
    font-size: .8em;
    color: #999999;
    padding: .8em .9em;
    width: 2em;
}
.list thead{
    padding: 0 1em;
    border-bottom: solid 1px #E7E7E7;
}
.list tfoot{
    padding: 0 1em;
    border-top: solid 1px #E7E7E7;
}
.list tbody tr:hover{
    background-color: #F1F1F1;
}
.list.row_options tr th:last-child{
    width: 5em;
}
.list.row_options tr td:last-child{
    text-align: right;
}
.list.row_options tr td:last-child a{
    display: inline-block;
    margin-right: .5em;
}
/*------------------------------------------------------------------- pager --*/
th.paginacion, td.paginacion{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    font-weight: normal;
}
.list thead .pager{
    border-top: solid 1px #e7e7e7;
}
.pager{
    text-align: right;
    padding: 4px 0;
}
.pager a, .pager strong, .pager span{
    display: inline-block;
    vertical-align: middle;
}
.pager a, .pager strong{
    padding: .5em;
    border-radius: 100%;
    width: 1em;
    line-height: 1em;
    text-align: center;
}
.pager span{
    margin-right: 15px;
}
.pager strong{
    background-color: #0072a0;
    color: #FFFFFF;
}
#main_section .pager a:hover{
    background-color: #e0e0e0;
    text-decoration: none;
}
.list_msk{
    overflow-x: auto;
    padding-bottom: 1em;
}
.list_msk.dragging{
    overflow: hidden;
}
.list_msk table{
    /*min-width: 768px;*/   
}
/*-------------------------------------------------------------------- edit --*/
.options_header{
    left: 2px;
    padding: .8em 1.5em;
    background-color: #FAFAFA;
    box-shadow: 0 0 2px 4px rgba(0,0,0,.1);
}
.edit_options{
    margin-bottom: .5em;
}
.edit_options button, .edit_options a{
    margin-top: 1em;
    margin-left: 0;
    margin-right: 1em;
}
.next_prev_nav{
    font-size: .75em;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #e7e7e7;
    border-radius: .4em;
}
.next_prev_nav span:not(.text){
    display: inline-block;
    vertical-align: middle;
    padding: 0 .3em;
    color: #999999;
}
.next_prev_nav a, .next_prev_nav span, .next_prev_nav img{
    display: inline-block;
    vertical-align: middle;
}
.next_prev_nav .prev{
    text-align: right;
}
.next_prev_nav .next{
    text-align: left;
}
.next_prev_nav .next a{
    padding-left: .8em !important;
} 
.next_prev_nav a:link, .next_prev_nav a:visited{
    display: inline-block;
    min-height: 10px;
    padding: .8em;
    margin: .5em 0 .8em;
    overflow: hidden;
    background: #FFFFFF;
    box-shadow: 0 2px 0 0 #AAAAAA, 0 6px 6px 3px rgba(0,0,0,.15);
}
.next_prev_nav a:hover{
    text-decoration: none !important;
    box-shadow: 0 1px 0 0 #AAAAAA, 0 6px 6px 3px rgba(0,0,0,.15);
}
.next_prev_nav a.img:link, .next_prev_nav a.img:visited{
    padding: 0;
}
.next .text{
    margin-right: .4em;
}
.prev img, .prev .text{
    margin-left: .4em;
}
.next_prev_nav .text{
    color: #333333 !important;
}

.fixed #main_section .edit_options{
    position: fixed;
    top: -1.5em;
    margin-left: -1.5em;
    padding: 1.4em 1.5em 1.4em;
    z-index: 1000;
    background: #fafafa;
    box-shadow: 0px 0px 5px silver;
    width: 100%;
}
#main_nav .fixable{
    top: 0;
    left: 0;
}
#wrapper:not(.mobile).fixed #main_nav .fixable{
    position: fixed;
    top: 6px;
    left: 0;
}
/*------------------------------------------------------------------ envios --*/
.esperando_envio{
    color: #FF8000;
}
.enviado{
    color: #1A6600;
}
.enviado .icon, .esperando_envio .icon, .stats .icon{
    display: inline-block;
    vertical-align: top;
}
.programar_envio_date{
    margin-left: 1.2em;
}
.email_preview{
    margin: 2em 3em;
    padding: 1em;
    background-color: white;
    border: solid 1px #e0e0e0;
    overflow: hidden;
}
/*------------------------------------------------------------- button_list --*/
.button_list button{
    display: block;
    margin: 0;
    padding: .5em 5%;
    width: 90%;
    text-align: left;
    background-color: #CAE2EC;
    border-color: #92C2D8;
    color: #0072A0;
}
.button_list button.active{
    background-color: #0072A0;
    color: white;
    border-color: #005879;
}
.button_list li{
    margin-bottom: 1em;
}

/*------------------------------------------------------------------- login --*/
.login .wrap{
    width: 300px;
    margin: 2em auto;
}
.login header{
    text-align: center;
}
.login fieldset{
    padding: 2em;
    border: solid 1px #e7e7e7;
    background-color: white;
    border-radius: .6em;
}
.login .alert, .login button{
    margin: .5em 0 0 0;
}
.login button{
    float: right;
    clear: both;
}
/*------------------------------------------------------------------- reloj --*/
#liveclock{
    text-align: right; 
}
/*----------------------------------------------------------------- paginas --*/
.menu_group{
    margin: 2em 0 0 0;
}
.menu_group h3{
    margin-bottom: .5em;
    font-weight: normal;
    color: #777777;
    font-size: 1em;
    text-transform: uppercase;
}
#generador_paginas{
    min-height: 66px;
    background: url(../images/icons/loading-big.gif) no-repeat center center;
}
.manual{
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: .8em;
}
.paginas_sortable{
    background-image: url(../images/bg/grid.png);
    background-repeat: repeat-y;
    background-position: 0 0;
}
.no_sortable li{
    padding-left: 12px !important;
}
.no_sortable .icon.move{
    display: none;
}
.paginas_group{
    padding: 1em 0 0.5em 0;
    min-width: 350px;
}
.paginas_group.home{
    background: none;
}
.paginas_group li, .paginas_group li.placeholder {
    max-width: 600px;
    position: relative;
    margin: 0 0 6px 0;
    padding-left: 50px;
    border-radius: .4em;
    border: solid 1px #DDDDDD;
    min-height: 2.1em;
    background: -webkit-linear-gradient(#FFFFFF, #F9F9F9); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#FFFFFF, #F9F9F9); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#FFFFFF, #F9F9F9); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#FFFFFF, #F9F9F9); /* Standard syntax */
}
.paginas_group li:hover{
    background: #DDDDDD;
    border-color: #BBBBBB;
}
.paginas_group li[data-level="0"]{
    background: -webkit-linear-gradient(#F9F9F9, #EEEEEE); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#F9F9F9, #EEEEEE); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#F9F9F9, #EEEEEE); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#F9F9F9, #EEEEEE); /* Standard syntax */
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08)
}
.paginas_group a:link, .paginas_group a:visited{
    display: block;
    padding: .5em 0;
    color: #2D2B25;
}
.paginas_group li.no_activo{
    border: dashed 1px #AAAAAA;
    background: white;
}
.paginas_group li.no_activo a:link, .paginas_group li.no_activo a:visited{
    color: #AAAAAA;
}
.paginas_group .first_icon{
    position: absolute;
    left: .85em;
    top: .3em;
}
.paginas_group .icon.move{
    width: 22px;
    height: 22px;
    background-position: -115px -105px;
    cursor: move;
}
.paginas_group button{
    background: transparent;
    border: none;
    box-shadow: none;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    opacity: .4;
}
.paginas_group button:hover{
    opacity: 1;
}
.paginas_group li.placeholder { 
    background: #CCCCCC;
    border-color: transparent;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.3) inset
}
/*-- subemu arrastrao --*/
.paginas_group ul{
    margin: 10px 0 0 0;
    padding: 0;
    opacity: .7;
}

.option_group{
    position: absolute;
    right: 0;
    top: 0;
    padding: .3em .5em;
}
.option_group .option{
    display: inline-block;
    vertical-align: middle;
    margin-left: 3px;
}
.option_group .icon{
    width: 22px;
    height: 22px;
}
.option_group a:link, .option_group a:visited{
    padding: 0;
}
.nodo .icon{
    height: 22px;
    background-position: -138px -105px;
}
.external_link .icon{
    height: 22px;
    background-position: -69px -128px;
}
.oculto .icon{
    height: 22px;
    background-position: 0px -128px;
}
.activo .icon{
    background-position: -92px -84px;
}
.move .icon{
    height: 22px;
    background-position: -23px -128px;
}
.special_page .icon{
    height: 22px;
    background-position: -115px -42px;
}
.dir_tree .icon{
    height: 22px;
    background-position: -161px -128px;
}
.info .icon{
    width: 14px;
    height: 14px;
    background-position: -46px -128px;
    margin: 0;
}
.public_link .icon{
    display: inline-block;
    vertical-align: middle;
    background-position: -115px -128px;
    top: -2px;
}
a.public_link{
    margin-left: 2em;
}

.option_group .oculto{
    cursor: pointer;
}
.legend .no_activo .icon{
    background: #FFFFFF;
    border: dashed 1px #AAAAAA;
    border-radius: .4em;
    width: 20px;
    height: 20px;
}

.legend{
    cursor: pointer;
    padding: 1em 1em .25em;    
    margin: 0  0 .5em;
    background-color: #E4F1FC;
    border: solid 1px #9BD0DD;
    border-radius: .3em;
    min-height: 11px;
}
.options_header{
    box-sizing: border-box;
    /*min-height: 105px;*/
}
.options_header .legend{
    margin-top: 1.5em;
}
.legend .info{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: .4em 1em .5em;
    box-sizing: border-box;
    cursor: pointer;
    display: none;
    color: #5BB3C8;
}
.legend .icon{
    float: left;
    margin: 0 6px 5px 0;
}
.legend .info span{
    float: none;
    display: inline-block;
    vertical-align: middle;
}
.legend .info span.text{
    top: -4px;
    font-size: .9em;
}
.legend li{
    clear: both;
}
.legend p{
    font-size: .8em;
    margin-bottom: 1em;
    color: #888888;
}
.legend.closed ul{
    display: none;
}
.legend.closed .info{
    display: block;
}

.checkbox .icon{
    display: inline-block;
    vertical-align: text-bottom;
}
/*-------------------------------------------------------------------- lang --*/
.pestanyera li{
    display: inline-block;
    vertical-align: bottom;
}
.pestanyera li.active{
    z-index: 100;
}
.pestanyera{
    margin-bottom: -1px;
}
.pestanyera button{
    border: solid 1px #CCCCCC;
    border-bottom: 0;
    background: #FFFFFF;
    border-radius: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 20px;
    box-shadow: none;
    margin: 0;
    padding-right: 1.5em;
    color: #333333;
    z-index: 10;
}
.pestanyera li:not(.active) button{
    background: #DDDDDD;
    color: #777777;
    border-bottom: solid 1px #CCCCCC;
    z-index: 0;
}
.pestanyera li:not(.active) button:hover{
    top: auto;
    background-color: #f6f6f6;
}
.pestanyera li button{
    padding: 1em 1.5em 1em 1em;
}
.lang_field_group{
    padding-top: 1em;
    border: solid 1px #CCCCCC;
    min-height: 60px;
    background-image: url(../images/icons/loading.gif);
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #FFFFFF;
}
#edit_form fieldset{
    padding: 0 1em;
    z-index: 0;  
}
#edit_form fieldset.lang_group{ 
    margin-top: 0;
    display: none;
    background-color: #FFFFFF;
}
/*------------------------------------------------------------------ images --*/
.img_group{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.img_group.thumb{
    display: none;
}
.img_group.thumb .delete_btn{
    right: auto;
    width: 80%;
    margin: 0 10%;
    position: relative;
}
.img_group.thumb .delete_btn:hover{
    top: 8px;
    box-shadow: 0 2px 0 0 #005c80, 0 6px 6px 3px rgba(0, 0, 0, 0.15) !important;
}
.imgSelected, .singleThumbPreview{
    position: absolute;
    top: 0;
    left: 0;
}
.single_image img{
    display: block;
}
.single_image,.multi_images{
    margin-bottom: 1em;
}
.single_image figure, .single_image .fields{
    display: inline-block;
    vertical-align: middle;
}
.single_image figure, .multi_images{
    border: solid 1px #e7e7e7;
    background-color: #FFFFFF;
    border-radius: 6px;
    padding: 1em;
    max-width: 140px;
    cursor: pointer;
    overflow: hidden;
}
.no-image{
    opacity: .5;
}
.no-image:hover{
    opacity: 1;
}
.single_image button{
    margin: 0 0 .8em 0;
}
.single_image .fields{
    margin-left: 1em;
    width: calc(100% - 200px);
}

.multi_images{
    max-width: 100%;
}
#multi-images img{
    display: block;
}
#multi-images .content{
    padding: .5em;
    background-color: #f6f6f6;
    display: none;
}
#multi-images.showContent .content{
    display: block;
}
#multi-images li{
    display: inline-block;
    vertical-align: top;
    cursor: move;
    margin: 0 10px 10px 0;
    border: solid 1px #DDDDDD;
    max-width: 320px;
}
.drag{
    box-shadow: 16px 10px 6px 0 rgba(0,0,0,.2);
}
#multi-images li:not(.drag):hover{
    box-shadow: 0 0 4px 0 rgba(0,0,0,.4);
}
#multi-images .botonera{
    text-align: right;
}
#multi-images .form_area button{
    margin: 0 0 1em 0;
}
.drag_sortable td:first-child{
    cursor: move;
}
.multi_images .button_group{
    margin-bottom: 1em;
}
#multi-images .pestanyera{
    margin-bottom: -1px;
}
#multi-images .pestanyera li{
    margin: 0;
    border: none;
    cursor: pointer;
    vertical-align: bottom;
}
#multi-images .pestanyera  li:hover{
    box-shadow: none;
}
#multi-images .lang_group{
    margin: 0;
}

#multi-images .alert_group{
    margin: 0;
    text-align: center;
}
#multi-images .alert_group .alert{
    display: none;
}

button.btn_borrar_img, button.btn_borrar, .delete_btn{
    margin: 0;
    padding: .1em .5em;
    position: absolute;
    top: 6px;
    right: 4px;
    background-color: firebrick;
    box-shadow: 0 2px 0 0 maroon, 0 6px 6px 3px rgba(0,0,0,.15);
}

.img_carpeta .icon, .img_galeria .icon, .img_carpeta_galeria .icon{
    display: inline-block;
    vertical-align: middle;
    width: 22px;
    height: 22px;
}
.img_carpeta .icon{
    background-position: -46px -105px;
}
.img_galeria .icon{
    /*background-position: -69px -105px;*/
    background-position: -161px -105px;
}
.img_carpeta_galeria .icon{
    background-position: -69px -105px;    
}

/*-- plugins --*/
section.plugin{
    border: solid 1px #AAAAAA;
    background-color: #f2f2f2;
    margin: 1em 0;
    border-radius: .4em;
    overflow: hidden;
    box-shadow: 0 4px 0 0 #888888, 0 6px 6px 3px rgba(0,0,0,.15);
    padding: 0 !important;
}
section.plugin header{
    padding: .5em 1em .5em .5em;
    cursor: pointer;
    background: -webkit-linear-gradient(#BBBBBB, #AAAAAA); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#BBBBBB, #AAAAAA); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#BBBBBB, #AAAAAA); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#BBBBBB, #AAAAAA); /* Standard syntax */
    box-shadow: 0 4px 0 0 #888888, 0 6px 6px 3px rgba(0,0,0,.15);
}
section.plugin header:hover{
    background: -webkit-linear-gradient(#BBBBBB, #CCCCCC, #AAAAAA); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#BBBBBB, #CCCCCC, #AAAAAA); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#BBBBBB, #CCCCCC, #AAAAAA); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#BBBBBB, #CCCCCC, #AAAAAA); /* Standard syntax */
}
section.plugin header h3 .icon{
    display: inline-block;
    vertical-align: middle;
    background-position: -138px -128px;
    top: -3px;
}
section.plugin h3{
    margin: 0;
    font-size: 1.3em;
    line-height: 1;
}
section.plugin header .icon.toggler{
    background-position: -47px -42px;
    position: absolute;
    top: 10px;
    right: 10px;
}
section.plugin > .content{
    padding: 1em;    
}
section.plugin > .content:not(.opened){
    display: none;
}

/*-------------------------------------------------------------status label --*/
.status_label{
    position: absolute;
    z-index: 100;
    border: solid 1px #9bd0dd;
    color: #333333;
    font-weight: 700;
    background-color: #e4f1fc;
    font-size: .8em;
    padding: .2em .4em;
    border-radius: .5em;
    text-transform: uppercase;
    text-align: center;
    width: 1em;
    margin: .6em 0 0 .6em;
    transform: translate(-50%, -50%);
    opacity: 0;
}
.status_label.loading{
    background-image: url(../images/icons/loading.gif);
    background-repeat: no-repeat;
    background-position: center center;
}
.status_label.ok{
    background-color: #438743;
    color: #FFFFFF;
    border-color: #2F5E2F;
    text-shadow: 1px 1px 1px #2F5E2F;
}
.status_label.notok{
    background-color: #E83131;
    color: #FFFFFF;
    border-color: #7D1717;
    text-shadow: 1px 1px 1px #E83131;
}
.activo_toggler{
    cursor: pointer;
}
/*--------------------------------------------------------------------- log --*/
.subtle_button{
    position: fixed;
    bottom: 3em;
    right: 1em;
    z-index: 1989;
}
.subtle_button:hover{
    top: auto !important;
}

.log_launcher .icon{
    height: 22px;
    background-position: -185px -128px;
}
.log_content{
    margin: 1em 0;
}
.log_content ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.log_item{
    margin-bottom: 1em;
}
.log_info:before{
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    position: absolute;
    left: -1em;
    top: .5em;
    background-color: #000000;
}
.log_info, .log_admin{
    display: flex;    
    align-items: center;
}
.log_content .action{
    font-size: .8em;
    display: inline-block;
    vertical-align: middle;
    padding: .25em .5em;
    border-radius: 4px;
    background-color: #000000;
    color: #FFFFFF;
    margin: 0 1em;
}
.log_content .action_delete{
    background-color: firebrick;
    color: #FFFFFF;
}
.log_content .action_insert{
    background-color: green;
    color: #FFFFFF;
}
.log_admin{
    font-size: .8em;
    border: solid 1px #CCCCCC;
    border-radius: 4px;
    padding: 0 .75em 0 0 ;
}
.log_data li{
    margin: 0;
    padding: .2em;
    border: solid 1px transparent;
    border-radius: 4px;
    cursor: pointer;
}
.log_data li:nth-child(odd){
    background-color: #f6f6f6;
}
.log_data span{
    font-size: .7em;
}
.log_key{
    color: #999999;
    font-style: italic;
}
.log_data .highlight{
    background-color: 	#f6f0bb !important;
    border: dashed 1px orange;
}
.log_data .highlight.locked{
    border-style: solid;
    background-color: 	#F0E68C !important;    
}

.display_item_log{
    font-size: .8em;
    color: #333333;
    background-color: #ffffff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.25);
    margin: 0 .5em 1em 0;
} 
.display_item_log:hover{
    box-shadow: none;
    top: 1px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.5);
}
/*---------------------------------------------------------------- CKEditor --*/
#cke_147_uiElement{
    display: block;
    margin: 5px 0 !important;
    padding: 10px !important;
    background: #FFFFCC !important;
    border: solid 1px #FFCC99 !important;
}
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*-------------------------------------------------------------- responsive --*/
@media all and (max-width: 1025px){
    form .row{
        flex-wrap: wrap;
    }
    form .row .col-60, form .row .col-40{
        width: 100%;
        padding: 0;
        margin-bottom: 1em;
    }
    .list td{
        padding: .5em .5em .5em 0;
    }
}
@media all and (max-width: 768px){
    body{
        font-size: 12px;
    }
    /*-- header --*/
    .user_options .options{
        background-color: #333333;
        color: #333333;
        position: absolute;
        right: -3px;
        top: 20px;
        padding: .5em 0;
        display: none;
    }
    .user_options .options a:link, .user_options .options a:visited{
        color: #FFFFFF !important;
        word-break: keep-all;
        white-space: nowrap;
        display: inline-block;
        vertical-align: middle;
        padding: .5em 1em;
    }
    .user_options:hover .options{
        display: block;
    }
    .user_options:hover .icon{
        background-color: #333333;
        background-position: -161px -84px;
        border-top-left-radius: .1em;
        border-top-right-radius: .1em;
        box-shadow: 0px 0px 0px 3px #333333;
    }

    /*-- nav --*/
    #wrapper.closed #main_nav{
        width: auto;
    }
    #main_nav{
        float: none;
        overflow: hidden;
    }
    #main_nav .wrap{
        padding: 0;
    }
    .nav_bg, .nav_options{
        display: none;
    }
    #main_nav .launcher{
        display: block;
        margin: 0;
        padding: 10px;
        background-color: #717171;
        color: #FFFFFF;
        text-transform: uppercase;
        cursor: pointer;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,.3);
    }
    #main_nav .launcher .icon{
        background-position: -92px -128px;
        position: absolute;
        top: 9px;
        right: 10px;
        margin: 0;
    }
    #main_nav .icontainer{
        padding-left: 1.5em;
    }
    #main_nav ul{
        display: none;
    }
    #main_nav ul li:last-child{
        box-shadow: 0 -2px 2px 0 rgba(0,0,0,.3) inset;
    }

    /*-- closed nav --*/
    #main_nav, #main_nav li:not(.selected) ul, #wrapper.closed #main_nav li.selected ul{
        width: auto;
    }
    #wrapper .nav_options .mostrar_menu, #wrapper.closed #main_nav .icontainer span:not(.icon), #wrapper.closed #main_nav ul ul, #wrapper.closed .nav_options .ocultar_menu{
        display: inline-block;
        vertical-align: middle;
    }
    .closed #main_nav .selected{
        background-color: transparent;
    }

    /*-- footer --*/
    #main_footer{
        text-align: center;
    }
    /*-- default --*/
    #liveclock{
        display: none;
    }
    #botonera_principal li{
        width: 50%;
    }

    /*-- contenido --*/
    #main_section section section{
        padding: 1.5em 10px;
    }
    .paginas_group{
        min-width: 50px;
        background-image: url(../images/bg/grid_3.png);
    }
    .paginas_group .icon.move{
        top: .2em;
        left: .4em;
    }
    .paginas_group li, .paginas_group li.placeholder{
        width: 70%;
    }
    .options_header{
        padding: .8em 10px;
        /*min-height: 95px;*/
    }
    .options_header .edit_options button{
        padding-left: .4em;
        padding-right: .4em;
        max-width: 95px;
        margin-right: 0.5em;
    }
    .options_header .edit_options button.save_back{
        max-width: 150px;       
    }
    .options_header .edit_options button:last-child{
        margin-right: 0;
    }
    .single_image, .multi_images{
        text-align: center;
    }
    .single_image .fields{
        margin-top: 1em;
    }

    /*-- forms --*/
    form select{
        width: 100%;
    }
    .search_box{
        position: relative;
        top: auto;
        left: auto;
        margin-left: 12px;
        width: 45%;
    }

    /*-- tables --*/
    .list{
        table-layout: auto;
    }
    .list th{
        width: auto !important;
    }
    .list th, .list td{
        padding: 0 0.9em 0 0;
    }
    #main_section .list a:link, #main_section .list a:visited{
        white-space: nowrap;
        word-break: keep-all;
    }
    .list th:first-child, .list td:first-child{
        padding-left: 0;
        padding-right: 0;
        text-align: center;
    }

    /*-- fotos --*/
    #multi-images{
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        -moz-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        -webkit-justify-content: stretch;
        -moz-justify-content: stretch;
        -ms-justify-content: stretch;
        justify-content: stretch;
    }
    #multi-images li{
        width: 50%;
        margin: 0 0 10px 0;
        box-sizing: border-box;
    }
    .multi-images img{
        margin: 0 auto;
    }

    /*-- content --*/
    iframe{
        width: 100%;
        height: auto;
    }
    .row *[class*="col-"]{
        width: 100%;
        padding: 0;
    }
    ul.col-25 li{
        width: 50%;
    }
    .row.next_prev_nav *[class*="col-"]{
        width: 50%;
    }
    #botonera_principal li a:link, #botonera_principal li a:visited, .next_prev_nav a:link, .next_prev_nav a:visited{
        margin: 0;
    }
    #botonera_principal li a .title{
        font-size: .9em;
    }
    .add_group{
        display: block;
        margin: .5em 0;
    }
    .add_group button:first-child, .add_group a.button:first-child{
        margin-left: 0;
    }
    .paginas .options_header .secondary_btn{
        margin: .5em 0;
    }
    .single_image .fields{
        width: 100%;
        margin-left: 0;
    }
    .multi_images .button_group button{
        margin: .5em 0;
    }
}

.hide{
    display: none;
}